/* Font */

@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

/* Asterisk wildcard selector to override default styles */
* {
    padding: 0;
    margin: 0;
}

/* General styles */

body {
    background-color: #e498c2;
    font-family: 'fuzzy bubbles', sans-serif;
}

/* Header */

#header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    background-image: url('../images/sparkly-pink.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: orchid;
    margin-bottom: 8%;
}

.header_text {
    font-size: larger;
    text-align: center;
    width: 100%;
}

/* Quiz */

.quiz_container {
    box-sizing: border-box;
    width: 80%;
    margin: auto;
    padding: 50px;
    border-radius: 25px;
    border: 5px solid #8800FF;
}

.options {
    display: flex;
    flex-direction: column;
    margin: 14px;
    padding: 12px;
}

.option {
    font-family: 'fuzzy bubbles', sans-serif;
    background-color: #d00dac;
    color: #ffff;
    /*width: 150px;*/
    margin: 2em;
    padding: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.option:hover {
    background-color: #8800FF;
}

p,
h2 {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: orchid;
    margin-top: 8%;
}

/* large mobile phones */
@media only screen and (max-width:768px){

}


/* small mobile phones */
@media only screen and (max-width:600px){

}

/*  tablet devices */
@media only screen and (max-width:992px){

}