/* Font */

@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

/* Asterisk wildcard selector to override default styles */
* {
    padding: 0;
    margin: 0;
}

/* General styles */

body {
    background-color: #e498c2;
    font-family: 'fuzzy bubbles', sans-serif;
}

/* Header */

#header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    background-image: url('../images/sparkly-pink.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: orchid;
    margin-bottom: 8%;
}

.header_text {
    font-size: larger;
    text-align: center;
    width: 100%;
}

/* Quiz */

.quiz_container {
    box-sizing: border-box;
    width: 58%;
    margin: auto;
    padding: 50px;
    border-radius: 25px;
    border: 5px solid #8800FF;
}

.options {
    display: flex;
    flex-direction: column;
    margin: 14px;
    padding: 12px;
}

.option {
    font-family: 'fuzzy bubbles', sans-serif;
    background-color: #d00dac;
    color: #ffff;
    margin: 2em;
    padding: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.option:hover {
    background-color: #8800FF;
}

p,
h2 {
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/sparkly-pink.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f0f0ff;
    margin-top: 8%;
}

a {
    display: flex;
    flex-direction: column;
    margin: 14px;
    padding: 12px;
    text-decoration: none;
}


#restart_btn {
    font-family: 'fuzzy bubbles', sans-serif;
    background-color: #8800FF;
    color: #ffff;
    /*width: 150px;*/
    margin: 2em;
    padding: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#restart_btn:hover {
    background-color: #d00dac;
}


/* large mobile phones */
@media only screen and (max-width:768px){
    .quiz_container {
        width: fit-content;
        padding: 30px;
        margin-left: 10%;
        margin-right: 10%;
    }
}


/* small mobile phones */
@media only screen and (max-width:600px){
/*.quiz_container {
    width: 80%;
    padding: 30px;
}*/
}


/*  tablet devices */
@media only screen and (max-width:992px){

}