/* Font */
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

/* Asterisk wildcard selector to override default styles */
* {
    padding: 0;
    margin: 0;
}

/* General styles */
body {
    background-color: #e498c2;
    font-family: 'fuzzy bubbles', sans-serif;
}

#header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-image: url('../images/sparkly-pink.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: orchid;
}

.header_text {
    font-size: xx-large;
    max-width: fit-content;
    width: 100%;
}

.quiz_container {
    box-sizing: border-box;
    width: 500px;
    margin: auto;
    padding: 50px;
    border-radius: 25px;
    border: 5px solid #8800FF;
}
.options {
    display: flex;
    flex-direction: column;
    margin: 14px;
    padding: 12px;
}

.option {
    font-family: 'fuzzy bubbles', sans-serif;
    background-color: #d00dac;
    color: #ffff;
    /*width: 150px;*/
    margin: 2em;
    padding: 1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.option:hover {
    background-color: #8800FF;
} 

/*h2 {
    text-align: center;
    
}*/

p, h2 {
    text-align: center;
}